a {
  text-decoration: none;
}

.search {
  font-family: 'Quicksand', sans-serif;
}

div {
    font-family: 'Ubuntu', sans-serif;
} 

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 15cm;
  margin: 0 auto;
}

.search-input {
  flex: 1;
  margin-right: 10px;
}

.submit-btn {
  width: auto;
}

#user_greeting {
  align-items:center;
  display: flex;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
}

.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #000000;
  border-color: #000000;
  margin-top: -30px;
  margin-bottom: -30px;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 0.5rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 0.5rem;
}
.divider-custom .divider-custom-icon {
  color: #000000;
  font-size: 1.25rem;
  margin-top: -30px;
  margin-bottom: -30px;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}
.divider-custom.divider-light .divider-custom-icon {
  color: #fff;
}

.navbar-brand-centered {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* CSS to align navbar links to right when toggler is active on small screens */
@media (max-width: 576px) {
  .navbar-nav {
    justify-content: flex-end;
  }
}

#table .id-column,
#table .smiles-column,
#table .inchikey-column,
#table .pubchem-column {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

