{% extends "layout.html" %}

{% block bannercontent %}
<!-- Banner -->
<div class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            {% if logged_in %}
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hello, {{ current_user.username }}!
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{ url_for('main.profile', profile_id=current_user.id) }}">My Profile</a>
                <!-- Add more dropdown items as needed -->
              </div>
            </div>
            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Downloads</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Documentation</a>
          </li>
          {% if current_user.is_authenticated and current_user.role.name == 'admin' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('users.admin_panel') }}">Control Panel</a>
          </li>
          {% endif %}
        </ul>
      </div>
      {% if logged_in %}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" id="login" href="/new_compound">
            <button type="button" class="btn btn-outline-dark">Deposit</button>
          </a>
        </li>
      </ul>
      {% endif %}
    </div>
  </nav>
</div>
  </nav>    
  <div class="jumbotron p-3 py-3 pt-md-5 pb-md-4 mx-auto text-center text-white rounded bg-dark npmine-banner">
    <h1 class="search display-4 font-italic">Search</h1>
    <p class="search" style="font-size: 25px;">Explore chemical and taxonomic entities extracted by NPMINE</p>
    <form id="search-form" class="form-inline justify-content-center mt-4 search-form" action="/search" method="GET">
      <div class="input-group">
          <input type="text" class="form-control search-input" id="search-input" name="q" placeholder="Search">
          <button type="submit" class="btn btn-primary submit-btn">Submit</button>
      </div>
  </form>
</div>
<div class="container w-50 p-3">
  <table class="table table-bordered">
    <tbody>
        <tr>
            <th scope="row">Journal Name</th>
            <td>{{ journal_name }}</td>
        </tr>
        <tr>
          <th scope="row">Created At</th>
          <td>{{ created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
        </tr>
        <tr>
            <th scope="row">URL Link</th>
            <td><a href="{{ article_url }}" target="_blank">{{ article_url }}</a></td>
        </tr>
        <tr>
          <th scope="row">Compounds extracted</th>
        <td>
          {% if related_compound_names %}
            <ul>
              {% for compound_name in related_compound_names %}
                {% set compound_id = compound_name_to_id_map.get(compound_name) %}
                {% if compound_id %}
                  <li><a href="{{ url_for('main.compound', compound_id=compound_id) }}">{{ compound_name }}</a></li>
                {% else %}
                  <li>{{ compound_name }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          {% else %}
            No compounds extracted
          {% endif %}
        </td>
          <tr>
            <th scope="row">Taxa extracted</th>
            <td>
              {% if verbatim_values %}
                <ul>
                  {% for verbatim_value in verbatim_values %}
                    <li>{{ verbatim_value }}</li>
                  {% endfor %}
                </ul>
              {% else %}
                -
              {% endif %}
            </td>
          </tr>
    </tbody>
</table>
</div>
{% endblock %}