{% extends "layout.html" %}

{% block bannercontent %}
<!-- Banner -->
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              {% if logged_in %}
              <p id="user_greeting">Hello, {{ current_user.username }}!</p>
              {% endif %}
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Downloads</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Documentation</a>
            </li>
            {% if current_user.is_authenticated and current_user.role.name == 'admin' %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('users.admin_panel') }}">Control Panel</a>
            </li>
          {% endif %}
          </ul>
        </div>
        {% if logged_in %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" id="login" href="/new_compound">
              <button type="button" class="btn btn-outline-dark">Deposit</button>
            </a>
          </li>
        </ul>
        {% endif %}
      </div>
    </nav>    
    <div class="jumbotron p-3 py-3 pt-md-5 pb-md-4 mx-auto text-center text-white rounded bg-dark npmine-banner">
      <h1 class="search display-4 font-italic">Search</h1>
      <p class="search" style="font-size: 25px;">Explore chemical and taxonomic entities extracted by NPMINE</p>
      <form id="search-form" class="form-inline justify-content-center mt-4 search-form" action="/search" method="GET">
        <div class="input-group">
            <input type="text" class="form-control search-input" id="search-input" name="q" placeholder="Search">
            <button type="submit" class="btn btn-primary submit-btn">Submit</button>
        </div>
    </form>
  </div>
<div class="container w-50 p-3">
    <table class="table table-bordered">
      <tbody>
          <tr>
              <th scope="row">Compound Name</th>
              <td>{{ compound.compound_name }}</td>
          </tr>
          <tr>
              <th scope="row">Compound Image</th>
              <td>
                  {% if compound.compound_image %}
                  <img src="{{ url_for('static', filename=compound.compound_image) }}" alt="Compound Image">
                  {% else %}
                  No image available
                  {% endif %}
              </td>
          </tr>
          <tr>
              <th scope="row">SMILES</th>
              <td>{{ compound.smiles }}</td>
          </tr>
          <tr>
              <th scope="row">User</th>
              <td>{{ compound.account.username }}</td>
          </tr>
          <tr>
              <th scope="row">Created At</th>
              <td>{{ compound.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
          </tr>
          <tr>
              <th scope="row">Articles</th>
              <td>
                  <ul>
                    {% for article_id, article_url in articles %}
                <li>
                    <a href="{{ url_for('main.article', article_id=article_id) }}" target="_blank">{{ article_url }}</a>
                </li>
                {% endfor %}
                  </ul>
              </td>
          </tr>
          <tr>
            <th scope="row">Taxa</th>
            <td>
            </td>
        </tr>
      </tbody>
  </table>

<h2>Additional Information - NP Classifier</h2>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th scope="row">Pathway</th>
            <td>{{ resposta_api.pathway_results[0] if resposta_api.pathway_results else "-" }}</td>
        </tr>
        <tr>
            <th scope="row">Class</th>
            <td>{{ resposta_api.class_results[0] if resposta_api.class_results else "-" }}</td>
        </tr>
        <tr>
            <th scope="row">Superclass</th>
            <td>{{ resposta_api.superclass_results[0] if resposta_api.superclass_results else "-" }}</td>
        </tr>
        <tr>
            <th scope="row">Is Glycoside</th>
            <td>{{ resposta_api.isglycoside[0] if resposta_api.isglycoside else "-" }}</td>
        </tr>
        <tr>
    </tbody>
</table>
</div>
{% endblock %}
