{% extends "layout.html" %}
<body>
    {% block about %}
    <a class="nav-link active" aria-current="page" href="#about">
        <button type="button" class="btn btn-dark">About</button>
    </a>
    {% endblock about %}

{% block bannercontent %}
<!-- Banner -->
<div class="container">
<div class="jumbotron p-3 py-3 pt-md-5 pb-md-4 mx-auto text-center text-white rounded bg-dark npmine-banner">
        <h1 class="search display-4 font-italic">Search</h1>
        <p class="search" style="font-size: 25px;">Explore chemical and taxonomic entities extracted by NPMINE</p>
        <div id= "search-bar" class="p-3 py-3 pt-md-5 pb-md-4 mx-auto text-center input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
              <i class="fa-solid fa-magnifying-glass" ></i>
            </span>
        </div>
</div>
</div>
<div class="container">
    <hr>
    <div id="table"></div>
  </div>
  <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
  <script>
    const updateUrl = (prev, query) => {
      return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
    };

    new gridjs.Grid({
      columns: [
        { id: 'id_comp', name: 'ID' },
        { id: 'smiles', name: 'SMILES' },
        { id: 'inchikey', name: 'InChI Key', sort: false },
        { id: 'pubchem', name: 'PubChem ID', formatter: (cell, row) => {
          return gridjs.html('<a href="https://pubchem.ncbi.nlm.nih.gov/compound/' + cell + '">' + cell + '</a>');
        }},
      ],
      server: {
        url: '/api/data',
        then: results => results.data,
        total: results => results.total,
      },
      search: {
        enabled: true,
        server: {
          url: (prev, search) => {
            return updateUrl(prev, {search});
          },
        },
      },
      sort: {
        enabled: true,
        multiColumn: true,
        server: {
          url: (prev, columns) => {
            const columnIds = ['id_comp', 'smiles', 'inchikey', 'pubchem'];
            const sort = columns.map(col => (col.direction === 1 ? '+' : '-') + columnIds[col.index]);
            return updateUrl(prev, {sort});
          },
        },
      },
      pagination: {
        enabled: true,
        server: {
          url: (prev, page, limit) => {
            return updateUrl(prev, {start: page * limit, length: limit});
          },
        },
      },
    }).render(document.getElementById('table'));
  </script>
<br>
<section class="page-section" id="about">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase mb-0" style="color: #000000"><b>About NPMINE</b></h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-atom"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 mb-5">
            </div>
            <div class="col-md-6 col-lg-8 mb-5">
                <p>texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto</p>
            </div>
        </div>
    </div>
</section>
<br>
<footer class="footer text-center" style="background-color: #000000">
    <div class="container" style="color: #ffffff">
        <br>
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4"><b>Authors</b></h4>
                <p class="lead mb-0">
                    Nome da Ana
                    <br />
                    Outras informações
                </p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4"><b>Download the Npmine documentation</b></h4>
                <a class="btn btn-outline-dark btn-social mx-1" href="https://github.com/computational-chemical-biology/npmine"><img src="static/assets/img/github.webp" width="30"><!--<i class="fas fa-download"></i>--></a>
            </div>
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4"><b>Envolvidos</b></h4>
                <p class="lead mb-0">
                    Citar a fapesp, outras menções que queira
                </p>
            </div>
        </div>
        <br>
    </div>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    <script>
      $(document).ready(function(){
          $('#myTable').dataTable();
      });
    </script>
</footer>
{% endblock bannercontent %}